
.active_slider {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: scale(1.2);
  z-index: 3;
}

.slider_item {
  position: relative;
  /* width: 450px;
  height: 450px; */
}

.thumbnail {
  width: 90px;
  height: 90px;
}

.slide_image_container {
  max-height: 465px;
  /* background-color: var(--color-dark-grayish-blue); */
  border-radius: var(--border-radius-md);
}

.slide_image {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  object-fit: cover; 
 
}

.thumbnails_container {
  display: flex;
  margin: 0;
  margin-top: 30px;
  height: 90px;
}

.thumbnail {
  padding-right: 30px;
}

.thumbnail:last-child {
  padding-right: 0px;
}

.arrows {
  display: none;
}

.active_arrows {
  position: absolute;
  display: flex;
  width: 114%;
  left: -7%;
  top: calc(50% - 28px);
  justify-content: space-between;
}

.arrow {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close_icon {
  display: none;
}

.active_close_icon {
  position: absolute;
  right: 0px;
  top: -25px;
  color: var(--color-white);
  cursor: pointer;
}
